registry=https://nexus.3dlook.me/repository/3dlook-npm/
//nexus.3dlook.me/repository/3dlook-npm/:_authToken=NpmToken.d7face60-7894-3a81-bf5d-4782d02a9016
//nexus.3dlook.me/repository/3dlook-npm-hosted/:_authToken=NpmToken.d7face60-7894-3a81-bf5d-4782d02a9016ы